.box_icon {
  margin-top: 20px;
  position: absolute;
  left: 40%;
}
html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.wrapper .button {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  color: black;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
}

.wrapper .button p {
  font-size: 25px;
  margin-left: 75px;
  margin-top: -65px;
  font-weight: 600;
}
.wrapper .button:hover {
  width: 200px;
}
.wrapper .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.icon a{
  color: black;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267b2;
  color: #4267b2;
}
.wrapper .button:nth-child(2):hover .icon {
  background: linear-gradient(
    135deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  color: #e1306c;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #1da1f2;
}
.wrapper .button:nth-child(4):hover .icon {
  background: linear-gradient(135deg, #fd2c54, #060606, #00a4d3);
  color: black;
}
.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #fff;
}
.wrapper .button:nth-child(1) span {
  color: #4267b2;
}
.wrapper .button:nth-child(2) span {
  color: #1da1f2;
}
.wrapper .button:nth-child(3) span {
  color: #e1306c;
}
.wrapper .button:nth-child(4) span {
  color: #333;
}
.wrapper .button:nth-child(5) span {
  color: #ff0000;
}
